DEBUG=True
DJANGO_SECRET_KEY='<django secret key>'

# Database
DATABASE_NAME=<database name>
DATABASE_USER=<database user>
DATABASE_PASSWORD=<database password>
DATABASE_HOST=<database host>
DATABASE_PORT=<database port>